<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>RanTreker Admin - Edit Member</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/memberedit.css">
</head>
<body>

  <div class="sidebar">
    <div class="logo">
      <img src="/img/RanTreker Logo.png" alt="RANTREKER Logo"> 
    </div>
    <br><br> 
    <div class="menu">
      <a th:href="@{/admin/members}"class="active">Members</a>
      <a th:href="@{/admin/races}" class="inactive">Races</a>
      <a th:href="@{/admin/races/add}" class="inactive">Add Race</a>
      <a th:href="@{/logout}" class="inactive">Logout</a>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <h1>Edit Member</h1>

      <form method="POST" th:action="@{/admin/editMember}" th:object="${user}" id="manual-entry-form" enctype="multipart/form-data">
        <input type="hidden" id="id_user" name="id_user" th:field="*{id_user}">

        <div>
          <label for="name">Name:</label>
          <span style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
          <input type="text" id="name" name="name" th:field="*{name}">
        </div>

        <div>
          <label for="email">Email:</label>
          <span style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
          <input type="text" id="email" name="email" th:field="*{email}">
        </div>

        <div>
          <label for="peran">Role:</label>
          <select id="peran" name="peran" th:field="*{peran}">
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>
        </div>

        <input type="hidden" id="password" name="password" th:field="*{password}">
        <input type="hidden" id="retypepassword" name="retypepassword" th:field="*{retypepassword}">
        <br><br>

        <button type="submit" class="edit-button">Edit</button>
        <button onclick="window.history.back()" class="cancel-button">Cancel</button>
      </form>
    </div>
  </div>

</body>
</html>