<!DOCTYPE html>
<html>
<head>
  <title>RanTreker - Add Race</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/raceadd.css">
</head>
<body>

  <div class="sidebar">
    <div class="logo">
      <img src="/img/RanTreker Logo.png" alt="RANTREKER Logo"> 
    </div>
    <br><br> 
    <div class="menu">
      <a th:href="@{/admin/members}" class="inactive">Members</a>
      <a th:href="@{/admin/races}" class="inactive">Races</a>
      <a th:href="@{/admin/addRace}" class="active">Add Race</a>
      <a th:href="@{/logout}" class="inactive">Logout</a>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <h1>Add Race</h1>

      <form method="POST" th:action="@{/admin/addRace}" th:object="${race}" id="manual-entry-form" enctype="multipart/form-data">
        <input type="hidden" id="raceID" name="raceID" value="0">

        <div>
          <label for="title">Title:</label>
          <span style="color: red;" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
          <input type="text" id="title" name="title" th:field="*{title}" placeholder="Enter race title (e.g., Spring Marathon 2025)">
        </div>

        <div>
          <label for="startTime">Start Date:</label>
          <span style="color: red;" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></span>
          <input type="datetime-local" id="startTime" name="startTime" th:field="*{startTime}">
        </div>

        <div>
          <label for="endTime">End Date:</label>
          <span style="color: red;" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></span>
          <input type="datetime-local" id="endTime" name="endTime" th:field="*{endTime}">
        </div>

        <div>
          <label for="distance">Distance (in kilometers):</label>
          <span style="color: red;" th:if="${#fields.hasErrors('distance')}" th:errors="*{distance}"></span>
          <input type="number" id="distance" name="distance" min="0" step="0.01" th:field="*{distance}">
        </div>

        <div>
          <label for="description">Description:</label>
          <span style="color: red;" th:if="${#fields.hasErrors('description')}" th:errors="*{distance}"></span>
          <textarea name="description" id="description" th:field="*{description}" placeholder="Describe the race (e.g., A scenic 10K run through the city park)"></textarea>
        </div>

        <div>
          <label for="bannerImage">Banner Image:</label>
          <input type="file" id="image_file" name="image_file" accept="images/*">
        </div>

        <input type="hidden" name="participants" id="participants" value="0">

        <button type="submit">Create Race</button>
      </form>
    </div>
  </div>

</body>
</html>
