<!DOCTYPE html>
<html>
<head>
  <title>RanTreker - Edit Your Run</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/editRun.css">
</head>
<body>

  <div class="sidebar">
    <div class="logo">
      <img src="/img/RanTreker Logo.png" alt="RANTREKER Logo"> 
    </div>
    <br><br> 
    <div class="menu">
      <a th:href="@{/user/dashboard}">Dashboard</a>
      <a th:href="@{/user/activityEntry}">Entry</a>
      <a th:href="@{/user/activity}">Activities</a>
      <a th:href="@{/user/races}" class="inactive">Races</a>
      <a th:href="@{/user/notifications}" class="inactive">Notifications</a>
      <a th:href="@{/logout}">Logout</a>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <h1>Edit Run</h1>

      <form method="POST" th:action="@{/user/editRun}" th:object="${activity}" id="manual-entry-form" enctype="multipart/form-data">
        <input type="hidden" id="id" name="id" th:value="${activity.id}">
        <input type="hidden" id="id_user" name="id_user" th:value="${activity.id_user}">
        <input type="hidden" id="image_location" name="image_location" th:value="${activity.image_location}">
        <div>
          <label for="title">Title:</label>
          <span style="color: red;" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
          <input type="text" id="title" name="title" th:field="*{title}">
        </div>

        <div>
          <label for="distance">Distance in kilometers:</label>
          <input type="text" readonly id="distance" name="distance"  th:value="${activity.distance}" style="color: gray;">
        </div>

        <div>
          <label for="duration">Duration (in minutes):</label>
          <input type="text" readonly id="duration" name="duration"  th:value="${activity.duration}" style="color: gray;">
        </div>

        <div>
          <label for="date">Date:</label>
          <input type="date" readonly id="date" name="date" th:value="${activity.date}">
        </div>

        <div>
          <label for="time">Time:</label>
          <input type="time" id="time" readonly name="time" th:value="${activity.time}">
        </div>

        <div>
          <label for="description">Description:</label>
          <span style="color: red;" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
          <textarea id="description" name="description" th:field="*{description}" placeholder="Describe your run!"></textarea>
        </div>

        <div th:if="${activity.image_location}">
          <label for="">Photo:</label>
          <img th:src="@{'/images/' + ${activity.image_location}}" alt="" width="125px" height="125px">
        </div>

        <br>

        <div>
          <label for="image_file">New Image:</label>
          <span style="color: red;"></span>
          <input type="file" id="image_file" name="image_file">
        </div>
        <br><br>

        <button type="submit" class="save-button">Save</button>
        <button class="back-button" onclick="window.history.back()">Back</button>
      </form>
    </div>
  </div>

</body>
</html>