<!DOCTYPE html>
<html>

<head>
  <title>RanTreker - Race Leaderboard</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/raceLeaderboard.css">
</head>

<body>

  <div class="sidebar">
    <div class="logo">
      <img src="/img/RanTreker Logo.png" alt="RANTREKER Logo">
    </div>
    <br><br>
    <div class="menu">
      <a th:href="@{/user/dashboard}" class="inactive">Dashboard</a>
      <a th:href="@{/user/activityEntry}" class="inactive">Entry</a>
      <a th:href="@{/user/activity}" class="inactive">Activities</a>
      <a th:href="@{/user/races}" class="active">Races</a>
      <a th:href="@{/user/notifications}" class="inactive">Notifications</a>
      <a th:href="@{/logout}" class="inactive">Logout</a>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <h1>Leaderboard</h1>
      <h2 th:text="${race.title}"></h2>

      <div class="image-box" th:if="${race.image_location}" style="text-align: center;">
        <img th:src="@{'/banner_images/' + ${race.image_location}}" alt="" id="bannerImage">
      </div>
      
      <div class="description-box">
        <p th:text="${race.description}"></p>
      </div>

      <h2 th:text="${size} + ' Participants'"></h2>

      <div th:if="${userPosition != -1}" class="position-box">Your position : <span th:text="${userPosition}"></span></div>

      <table>
        <thead>
          <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Distance</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="raceParticipant, stat : ${raceParticipants}" th:class="${stat.index == 0 ? 'gold' : (stat.index == 1 ? 'silver' : 'bronze')}">
            <td th:text="${stat.index + 1}"></td>
            <td th:text="${raceParticipant.name}"></td>
            <td th:text="${raceParticipant.distance}"></td>
            <td th:text="${raceParticipant.duration}"></td>
            </td>
          </tr>
          <tr th:if="${raceParticipants.empty}">
            <td colspan="4" style="text-align: center;">No participants have registered for this race.</td>
          </tr>
        </tbody>
      </table>
      <br>

      <button class="back-button" onclick="window.history.back()">Back</button>
    </div>
  </div>
</body>

</html>