<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RanTreker - Register</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">

</head>

<body>
    <header>
        <div id="headerlogo">
            <a th:href="@{/}" class="logo"><img src="/img/RanTreker Logo.png" alt=""> </a>
        </div>
    </header>

    <div id="container">
        <h1>Register</h1>
        <hr>
        <form method="POST" th:action="@{/register}" th:object="${user}">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" th:field="*{name}" required>
            <p style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" th:field="*{email}" required>
            <p style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Create a password"  th:field="*{password}" required>
            <p style="color: red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

            <label for="retypepassword">Re-enter Password</label>
            <input type="password" id="retypepassword" name="retypepassword" placeholder="Re-enter password" th:field="*{retypepassword}">
            <p style="color: red;" th:if="${#fields.hasErrors('retypepassword')}" th:errors="*{retypepassword}"></p>

            <input type="hidden" id="peran" name="peran" value="user">

            <p style="color: red;" th:if="${#fields.hasErrors('peran')}" th:errors="*{peran}"></p>

            <button type="submit" value="register">Sign Up</button>
            <p>Have an account? <a th:href="@{/login}" style="color: #fc5200;">Login</a></p>
        </form>
        <div class="footer">
            By signing up, you agree to our <span style="color: #fc5200;">Terms</span> and <span style="color: #fc5200;">Privacy Policy</span>.
        </div>
    </div>
</body>

</html>