<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/registerResult.css">

</head>

<body>
    <header>
        <div id="headerlogo">
            <a th:href="@{/}" class="logo"><img src="/img/RanTreker Logo.png" alt=""> </a>
        </div>
    </header>

    <div id="container">
        <h1>Register successful! Please login!</h1>
        <br>
        <div id="button-container">
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/}">Back to Home</a>
        </div>
    </div>
</body>

</html>